


.card.mb-5

  .card-body.py-5

    .row
      .col-sm-10.mx-auto
        = link_to employment_contracts_path do
          %i.fa.fa-times.text-muted.float-right.close-card
        = render 'layouts/flash'
        .text-center
          = link_to image_tag('https://s3-us-west-2.amazonaws.com/potluck-office/potluck-logo.png', class: 'contract-logo'), root_path
          %h3.font-weight-light.mb-5
            Confidential Employment Contract


        .mb-5 #{@employment_contract.updated_at.strftime("%B %d, %Y")}
        .mb-5
          #{@employment_contract.employee.name}
          %br
          #{ @employment_contract.employee.address.present? ? raw(@employment_contract.employee.address.full_address_letter) : 'No Fixed Address' }
          (#{link_to "edit", edit_employee_path(@employment_contract.employee)})
        .mb-5 Dear #{@employment_contract.employee.name},
        .mb-5 #{@employment_contract.settings(:offer_body).introduction % { department: @employment_contract.department.name.upcase, offer: @employment_contract.employee.first?(@employment_contract) ? 'offer you' : 'offer you a change in your' } }
        .row.mb-4
          .col-sm-4
            %strong Position:
          .col-sm-8
            = @employment_contract.position.name.upcase
        .row.mb-4
          .col-sm-4
            %strong Job Classification:
          .col-sm-8
            %p #{@employment_contract.compensation_type}
            #{ simple_format @employment_contract.settings(:offer_body).job_classification }
        .row.mb-4
          .col-sm-4
            %strong Start Date:
          .col-sm-8
            #{ @employment_contract.settings(:offer_body).start_date % { start_date: @employment_contract.start_date.strftime("%B %d, %Y") } }
        .row.mb-4
          .col-sm-4
            %strong Wage or Salary:
          .col-sm-8
            #{ @employment_contract.settings(:offer_body).wage_salary % { compensation: number_to_currency(@employment_contract.compensation), pay_frequency: @employment_contract.pay_frequency } }
        .row.mb-4
          .col-sm-4
            %strong Vacation:
          .col-sm-8
            #{ simple_format @employment_contract.settings(:offer_body).vacation % { vacation: @employment_contract.vacation_time, vacation_other: @employment_contract.vacation_time_other } }
        .row.mb-4
          .col-sm-4
            %strong Probationary Period:
          .col-sm-8
            #{ simple_format @employment_contract.settings(:offer_body).probationary_period }
        .row.mb-4
          .col-sm-4
            %strong Termination:
          .col-sm-8
            #{ simple_format @employment_contract.settings(:offer_body).termination }
        .row.mb-4
          .col-sm-4
            %strong Benefits:
          .col-sm-8
            - if @employment_contract.read_attribute_before_type_cast(:compensation_type) == 0
              #{ simple_format @employment_contract.settings(:offer_body).no_benefits }
            - if @employment_contract.read_attribute_before_type_cast(:compensation_type) == 1
              #{ simple_format @employment_contract.settings(:offer_body).pt_benefits }
            - if (@employment_contract.read_attribute_before_type_cast(:compensation_type) == 2) || (@employment_contract.read_attribute_before_type_cast(:compensation_type) == 3)
              #{ simple_format @employment_contract.settings(:offer_body).ft_benefits }

        .row.mb-4
          .col-sm-4
            %strong Dress Code:
          .col-sm-8
            #{ simple_format @employment_contract.settings(:offer_body).dress_code }
        .row.mb-4
          .col-sm-4
            %strong Equipment:
          .col-sm-8
            #{ simple_format @employment_contract.settings(:offer_body).equipment }
            #{ simple_format(@employment_contract.settings(:offer_body).driver_equipment) if @employment_contract.use_of_company_vehicle? }
        .row.mb-4
          .col-sm-4
            %strong Confidential Information:
          .col-sm-8
            #{ simple_format @employment_contract.settings(:offer_body).confidential_information }
        .row.mb-4
          .col-sm-4
            %strong Performance Reviews:
          .col-sm-8
            #{ simple_format @employment_contract.settings(:offer_body).performance_reviews }
        .row.mb-4
          .col-sm-4
            %strong Employment Policies:
          .col-sm-8
            #{simple_format @employment_contract.settings(:offer_body).employment_policies }
        .row.mb-4
          .col-sm-4
            %strong Cellphone allowance:
          .col-sm-8
            %p #{ @employment_contract.cellphone_allowance }
        .row.mb-4
          .col-sm-4
            %strong Other:
          .col-sm-8
            %p #{ @employment_contract.other_allowances.blank? ? '' : 'Other allowances: ' + @employment_contract.other_allowances }
            %p #{ @employment_contract.bonus_structure.blank? ? '' : 'Bonus structure: ' + @employment_contract.bonus_structure }
            %p #{ @employment_contract.professional_development_funding.blank? ? '' : 'Professional development funding: ' + @employment_contract.professional_development_funding }
        .row.mb-4
          .col-sm-3.ml-auto
            - if @employment_contract.approved_at == nil
              = link_to raw('<i class="icon-pencil mr-1"></i> Edit Request'), edit_employment_contract_path(@employment_contract), class: 'btn btn-block btn-warning'
          .col-sm-3
            - if @employment_contract.approved_at == nil
              = link_to raw('<i class="icon-note mr-1"></i> Edit Offer Body'), offer_settings_employment_contract_path(@employment_contract), class: 'btn btn-block btn-secondary'
          .col-sm-3
            - if current_user.admin?
              - if @employment_contract.approved_at != nil
                = link_to word_doc_path(id: @employment_contract.id), class: 'btn btn-block btn-info' do
                  %i.fa.fa-cloud-download.mr-1
                  Download
              - else
                = link_to raw("<i class='icon-check'></i> Approve Request"), approve_request_employment_contract_path(id: @employment_contract.id), :method => :put, data: { confirm: 'You can not edit the contract after you proceed. Are you sure?' }, class: "btn btn-block btn-info"

            - else
              - if @employment_contract.approved_at != nil
                = link_to word_doc_path(id: @employment_contract.id), class: 'btn btn-block btn-info' do
                  %i.fa.fa-cloud-download.mr-1
                  Download
              - else
                -# = link_to raw('<i class="fa fa-envelope mr-1"></i> Send Request'), send_notification_email_path(:id => @employment_contract.id), class: "btn btn-block btn-info"
                = link_to raw("<i class='icon-check'></i> Approve Request"), approve_request_employment_contract_path(id: @employment_contract.id), :method => :put, data: { confirm: 'You can not edit the contract after you proceed. Are you sure?' }, class: "btn btn-block btn-info"
