!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Potluck Employee Setup Request
    = csrf_meta_tags
    %script{:src => "https://use.fontawesome.com/655e10eaf5.js"}
    = favicon_link_tag "favicon"
    %link{:href => "https://fonts.googleapis.com/css?family=Roboto:300,400,500", :rel => "stylesheet"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body.bg-dark
    .container
      = yield
    = yield :body_js




